<div class="row">
	<div class="col-xs-12">		
		<h3>About game</h3>
		<p>
			<ul>
				<li>Gomoku is an abstract strategy board game.</li>
				<li>Also called Gobang or Five in a Row, it is traditionally played with Go pieces (black and white stones) on a go board with 19x19 intersections;</li>
				<li>however, because once placed, pieces are not moved or removed from the board;</li>
				<li>Gomoku may also be played as a paper and pencil game.</li>
				<li>This game is known in several countries under different names.</li>
			</ul>
		</p>
	</div>
	<div class="col-xs-12">	
		<h3>Game rules</h3>
		<div class="row">
			<div class="col-md-3">
				<img src="/assets/img/game_rules.png">
			</div>
			<div class="col-md-9">
				<p>
					Black plays first if white did not just win, and players alternate in placing a stone of their color on an empty intersection. The winner is the first player to get an unbroken row of five stones horizontally, vertically, or diagonally.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12">	
		<div class="row">
			<div class="col-xs-12">
				<h3>Features</h3>
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-3">
						<img src="/assets/img/icon_responsive.png">
					</div>
					<div class="col-xs-9">
						<h4>Responsive game</h4>
					</div>
				</div>
			</div>		
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-3">
						<img src="/assets/img/icon_grid.png">
					</div>
					<div class="col-xs-9">
						<h4>Our game will have an extreamly large  game field.</h4>
					</div>
				</div>
			</div>										
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-3">
						<img src="/assets/img/icon_users.png">
					</div>
					<div class="col-xs-9">
						<h4>Up 4 players can play on one machine</h4>
					</div>
				</div>
			</div>																		
		</div>
	</div>
</div>