<!-- Modal -->
<div class="modal fade in" id="game-modal" tabindex="-1" role="dialog" aria-labelledby="game-modal-label" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<p class="title"style='display: none'>
					<span class="label">Player vs Player Mode</span>
				</p>
			</div>
			<div class="logo">
				<!-- <img  src="assets/img/l_12_size.PNG"> -->
				<img  src="assets/img/l_12_size.PNG">
			</div>
			<div class="modal-body">
				<form class="row players_form">
					<div id="game-rules" class='game-rules col-xs-12' style="display: none">
					<% include game_rules.ejs %>
					</div>
					<div id="game-statistics" class='game-statistics col-xs-12' style="display: none">
						<h3>Game statistics</h3>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Username</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Mark</td>
									<td>Otto</td>
									<td>@mdo</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Jacob</td>
									<td>Thornton</td>
									<td>@fat</td>
								</tr>
								<tr>
								<th scope="row">3</th>
									<td>Larry</td>
									<td>the Bird</td>
									<td>@twitter</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class='game-mode player-vs-player' style="display: none"></div>
					<div class="but">
						<button type="button" class="btn btn-success btn-play">Play</button>
						<button type="button" class="btn btn-warning btn-rules">Rules</button>
						<button type="button" class="btn btn-info btn-statistics">Game statistics</button>
						<button type="button" class="btn btn-success btn-play-game pull-right" style='display: none'>PLAY GAME</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>